; .editorconfig

root = true

[**.js]
; Path to the external file format
; The default is taken from the lib folder inside the folder extension.
path=/usr/local/lib/node_modules/js-beautify/js/lib/beautify.js
; Javascript interpreter to be invoked by default 'node'
bin=node
indent_style = space
indent_size = 2

[**.css]
path=/usr/local/lib/node_modules/js-beautify/js/lib/beautify-css.js
indent_style = space
indent_size = 2

[**.html]
path=/usr/local/lib/node_modules/js-beautify/js/lib/beautify-html.js
indent_style = space
indent_size = 2
